@font-face {
    font-family: "Poppins";
    src: url("Poppins-Medium.ttf");
}

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
.content-one,
footer {
    background-color: #1f2937;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content:space-between;
    padding: 0 200px;
    width: 100%;
}

header h1 {
    color: #f9faf8;
    font-size: 24px;
}

header .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header a {
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.content-one h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.content-one button {
    background-color: #3882f6;
}

.content-two h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.content-three {
    background-color: #e5e7eb;
}

.content-three p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

footer {
    color: #f9faf8;
}